@use "../custom" as *;
@use "../colors" as *;

.contact {
  background-color: $white-light-color;
  padding: 10rem 0;
  
  .left {
    margin-bottom: 7rem;
  }
  label {
    font-size: 1.4rem;
    cursor: auto;
    color: $black-color;
  }
  input,
  textarea {
    font-size: 1.4rem;
    padding: 1rem;
    background-color: $white-color;
    border: 1px solid $gray-light-color;
  }
  textarea {
    resize: none;
    height: 20rem;
  }

  .map {
    height: 20rem;
    iframe {
      height: 100%;
    }
  }
}
